<div class = "Jumbotron">
<h1>Welcome to eStuk</h1>
<p>The Largest Digital Book Store</p>
<%= link_to "Books", books_path, class: "btn btn-primary btn-lg"  %>
<%= link_to "SignUp", new_user_registration_path , class: "btn btn-primary btn-lg"  %>
</div>
